.App {
  text-align: center;
}
#name {
  padding: 12px;
  width: 340px;
  margin-right: 5px;
}
.searchBtn{
  padding: 10px 20px;
}
.card-heading{
  text-transform: capitalize;
}
.types{
  height: 43px;
  margin-right: 5px;
}
.search-form{
  margin-top: 50px;
}